<!-- mt-auto takes the footer to the bottom of the page -->
<footer class = "footer bg-dark py-3 mt-auto">
    <div class ="container">
        <span class="text-muted"> &copy Campground Finder 2022</span>
    </div>
</footer>