<% layout("layouts/boilerplate") %> 
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> Ohh Damn you got to see this... my Bad</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <pre style="white-space: pre-wrap; "><%= err.stack %> </pre>
        </div>
    </div>
</div>
